<%= form_for @kitten do |f| %>
  <% if @kitten.errors.any? %>
    <% @kitten.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  <% end %>
  <hr>
  <br>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>

  <%= f.label :age %>
  <%= f.text_field :age %>
  <br>

  <%= f.label :cuteness %>
  <%= f.text_field :cuteness %>
  <br>

  <%= f.label :softness %>
  <%= f.text_field :softness %>
  <br>

  <%= f.submit "Save" %>
<% end %>